server {
    listen 80;
    server_name {{ domain_name }};

    location = /favicon.ico {
        access_log off;
    }

    location /static/ {
        alias {{ static_root }}/;
    }

    location / {
        include proxy_params;
        proxy_pass http://{{ proxy_address }};
    }
}
